<nav class="navbar navbar-dark bg-danger shadow-lg p-2 nav">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img height="40" src = "https://images.seeklogo.com/logo-png/27/1/oyo-rooms-logo-png_seeklogo-272486.png">
        </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>